.verde{
background-color:#b3ffb3;
}
.amarillo{
background-color:#ff4500;
}
.piel{
background:#ffe699;
}
.azul{
color:blue;

}
.verdeclaro{
color:#7FFF00;

}
table{
border-color:#ee82ee

}
th{
width:200px;
font-size:15px;
border:0px
margin:25%;

}
.ancho{
width:150px;

}
.rojo{
color:red;

}
.rosa{
background-color:#e6b3b3;

}
.rosado{
background-color:#ff99bb;

}
.morado{
background-color:#f0b3ff;

}
.gris{
background-color:#ccc;

}
.turbio{
background-color:#cc9900;

}
.azulcielo{
background-color:#e6e6ff;
}
.encabezado{
color:green;

}




